{% extends 'base.html' %}

{% block title %}
Update your account
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Hello, {{ user.username }}! Happy editing!</li>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <form method="POST" novalidate>
          {% csrf_token %}
          {% include 'includes/form.html' %}
          <button type="submit" class="btn btn-success">Update my account</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
