{% extends 'base.html' %}

<title>{% block title %}QMConnect+ Topics{% endblock %}</title>

{% block breadcrumb %}
<li class="breadcrumb-item active">QMConnect+ - Topics</li>
{% endblock %}

{% block content %}
<div class="bottom-padding">
  <div class="row">
    <div class="col">
      <div class="card h-100">
        <h5 class="card-header bg-dark text-white">Most popular topic</h5>
        <div class="card-body">
          <p class="card-text">{{mostQuestionsTopic}} with {{mostQuestions}} questions</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <h5 class="card-header bg-dark text-white">Most popular question</h5>
        <div class="card-body">
          dsg
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-padding">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Browse by topic</th>
            <th scope="col">Questions</th>
            <th scope="col">answers</th>
            <th scope="col">Lastest answer</th>
          </tr>
        </thead>

        <tbody>
          {% for topic in topics %}
          <tr>
            <td>
              <a href="{% url 'qa:topic_questions' topic.pk %}">{{ topic.name }}</a>
              <small class="text-muted d-block">{{ topic.description }}</small>
            </td>
            <td class="align-middle"> {{ topic.questions.count }} </td>
            <td class="align-middle"> {{ topic.answers_count }} </td>
            <td class="align-middle">
              {% with answer=topic.latest_answer %}
              {% if answer %}
              <a href="{% url 'qa:question_answers' topic.pk answer.question.pk %}">{{ answer.message|slice:'0:10' }}...</a>
              {% else %}
              -
              {% endif %}
              {% endwith %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
