{% extends 'base.html' %}
{% block content %}

<div class="row text-center">
  {% for user in users %}
  <div class="col-3 bottom-padding">
    <div class="card h-100">
      <img class="card-img-top" src="/profile_images/{{ user.profile.image }}" alt="User profile picture">
      <div class="card-body">
        <h4 class="card-title">{{ user }}</h4>
        <p class="card-text">
          Hello! I am {{ user.get_full_name }}.
          If you want to find more about me, click on the button below!
        </p>
      </div>
      <div class="card-footer">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ user }}">
          Find more about me!
        </button>

        <!-- Modal -->
        <div class="modal fade" id="{{ user }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{ user }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="card-text">I am studying {{ user.profile.get_subject_display }} and I am in my {{ user.profile.get_universityYear_display }}. I am interested in:
                  <ul class="list-group">
                    {% for interest in user.profile.interest.all %}
                      <li class="list-group-item">{{ interest }}</li>
                    {% endfor %}
                  </ul>
                </p>
                <p class="card-text">
                  <strong>Other details about me:</strong>
                  <ul class="list-group">
                    <li class="list-group-item">Date of birth: {{ user.profile.dob }}</li>
                    <li class="list-group-item">Email address: {{ user.email }}</li>
                  </ul>
                </p>
                <p class="card-text">Contact me if you want.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
