{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accs.css' %}">
{% endblock %}

{% block title %}
    Reset your password
{% endblock %}

{% block body %}
<div class="container top-padding">
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-body">
        {% if validlink %}
          <h3 class="card-title">{{ form.user.username }}, update your password</h3>
          <form method="POST" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Update password</button>
          </form>
          {% else %}
            <h3 class="card-title">{{ form.user.username }}</h3>
            <div class="alert alert-danger" role="alert">
              Invalid link, try again or ignore the message.
            </div>
             <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Get a new link</a>
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
