{% extends 'base.html' %}

{% block title %}Password reset successfully{% endblock %}

{% block body %}
<div class="container top-padding">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Your password is updated!</h3>
          <p>Your password has been successfully updated.</p>
          <a href="{% url 'login' %}" class="btn btn-primary btn-block">Go back</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
