{% extends 'base.html' %}

<title>{% block title %}{{ user }}'s profile{% endblock %}</title>

{% block breadcrumb %}
<li class="breadcrumb-item active">{{ user }}'s profile</li>
{% endblock %}


{% block content %}
<div class="bottom-padding">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <img class="card-img-top" src="/profile_images/{{ user.profile.image }}" alt="User profile picture" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title">{{ user }}'s profile</h5>
          <p class="card-text">Hello! My name is {{ user.get_full_name }}. I am studying {{ user.profile.get_subject_display }} and I am in my {{ user.profile.get_universityYear_display }}. I have done the following modules:</p>

          <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              {% for module in user.profile.module.all %}
              <li class="list-group-item">{{ module }}</li>
              {% endfor %}
            </ul>
          </div>
          <p></p>

          <p class="card-text">I am also interested in:</p>

          <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              {% for interest in user.profile.interest.all %}
              <li class="list-group-item">{{ interest }}</li>
              {% endfor %}
            </ul>
          </div>
          <p></p>
          <p class="card-text">My age: {{ user.profile.dob }}</p>
          <p class="card-text">My email address: {{ user.email }}</p>

          {% if request.user == user %}
            Messages

            {% regroup messages|dictsort:"receiver.user.username" by receiver.user.username as message_list %}

              <p class="card-text">
                {% for message in message_list %}
                  <h3>Your messages with <strong>{{message.grouper}}</strong></h3>
                  {% for msg in message.list %}
                    <p>{{msg}}</p>
                  {% endfor %}
                {% endfor %}
              </p>
          {% endif %}

          <p class="card-text"><small class="text-muted">Last seen {{ user.last_login }}</small></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header">
          Latest questions asked by {{ user }}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            {% for userqs in user_questions %}

              <a href="{% url 'qa:question_answers' userqs.topic.pk userqs.pk %}">{{ userqs }}</a>

              <p class="card-text"><small class="text-muted"><cite>In {{ userqs.topic }} </cite></small></p>
              <footer class="blockquote-footer">at {{ userqs.last_updated }}</footer>
              <hr/>

            {% empty %}
              <p class="card-text"><small class="text-muted"><cite>No questions asked yet. :-( </cite></small></p>
            {% endfor %}
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
