{% extends 'base.html' %}

{% load static %}

{% block title %} {{ topic.question }} {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'qa:home' %}">Topics</a></li>
<li class="breadcrumb-item"><a href="{% url 'qa:topic_questions' question.topic.pk %}">{{ question.topic.name }}</a></li>
<li class="breadcrumb-item active">{{ question.subject }}</li>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="mb-4">
      <h1> {{ question.subject }} </h1>
      <a href="{% url 'qa:answer_question' question.topic.pk question.pk %}" class="btn btn-primary btn-sm" role="button">Reply</a>
    </div>

    {% for answer in answers %}
    <div id="{{ answer.pk }}" class="card {% if forloop.last %}mb-4{% else %}mb-2{% endif %} {% if forloop.first %}border-dark{% endif %}">
      {% if forloop.first %}
      <div class="card-header text-white bg-dark py-2 px-3"> {{ question.starter }} asked "{{ question.subject }}" </div>
      {% endif %}
      <div class="card-body p-3">
        <div class="row">
          <div class="col-2">
            <img src="{% static 'images/user_photo.svg' %}" alt="{{ answer.created_by.username }}" class="w-100">
            <small>Questions: {{ question.created_by.questions.count }}</small>
          </div>
          <div class="col-10">
            <div class="row mb-3">
              <div class="col-6">
                <strong class="text-muted"> {{ answer.created_by.username }} </strong>
              </div>
              <div class="col-6 text-right">
                <small class="text-muted"> {{ answer.created_at }} </small>
              </div>
            </div>
            {{ answer.message_to_markdown }}
            {% if answer.created_by == user %}
            <div class="mt-3">
              <a href="{% url 'qa:modify_answer' answer.question.topic.pk answer.question.pk answer.pk %}" class="btn btn-primary btn-sm" role="button">Edit</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    {% include 'includes/pagination.html' %}
  </div>
</div>
{% endblock %}
